.Rproj.user
.Rhistory
.RData
.Ruserdata
.Renviron
client_secret_2_88146497745-lk0v1fu7epogtd9di3no5bjobkfo98ol.apps.googleusercontent.com.json
titanic-466214-1d8ab0ea8f0f.json 
titanic-466214-dd0b8f1ad195.json
titanic-466214-95c689d94120.json
